.container{
    background-color: #303841;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.social{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: white;
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    cursor: pointer;
    
    justify-content: center;
  
}
.main{
    font-size: 6rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;

}
.subtext{
    font-style: italic;
    color: white;
    display: flex;
    justify-content: center;

}